<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jogo Rápido{% endblock %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-section">
                <img src="{% static 'logojogorapido.png' %}" alt="Logo" class="logo-img">
                <h1 class="project-name">Jogo Rápido</h1>
            </div>
            <div class="search-button-container">
                <input 
                    type="text" 
                    placeholder="Digite sua busca..." 
                    class="search-input" 
                    id="searchInput">
                <button class="search-button" onclick="performSearch()"> Buscar</button>
            </div>
            
            <nav class="nav-links">
                <a href="#"><span>❤️</span> Favoritos</a>
                <a href='/login'>👤Perfil</a>
                <a href="#"><span>☰</span> Menu</a>
            </nav>
        </div>
    </header>


    <main class="content">
        {% block content %}{% endblock %}
    </main>


    <footer class="footer">
        <p>Entre em contato: jogorapido@gmail.com | Twitter: @jogorapido | Telefone: +55 (21) 992357321</p>
    </footer>
</body>
</html>